.flex-cr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}